.App {
  text-align: center;
  display: flex;
  height: 100vh;
  background: #dde0e5;
}

.container {
  margin: 0 auto;
  min-width: 70%;
  max-width: 90%;
}

.container > h1 {
  font-size: 5rem;
  letter-spacing: 2px;
  background: #7970CC;
  color: #ffffff;
  margin-bottom: 0;
}

.chat-window {
  overflow: overlay;
  max-height: 70vh;
  min-height: 70vh;
  border: 1px solid #b5b5b5;
  background: #ffffff;
}

.text-cloud {
  margin: 20px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
}

.chat-msg {
  padding: 5px;
  background: #E9ECF1;
  border-radius: 5px;
}

.message-time {
  padding: 5px;
  color: #808080;
}

.chat-stuff {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  background: #FCFBFF;
  border: 1px solid #d2cdcd;
  border-top: none;
}

.chat-input {
  height: 30px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 3px 7px;
  font-size: 1.1em;
  width: 80%;
  outline: none;
}

.send-btn {
  background: none;
  border: none;
  font-size: 1.1em;
  cursor: pointer;
  color: #786BCC;
}


/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
